body {
    margin: 0;
    padding: 0;
}
h1 {
    padding: 0;
    margin: 0;

}

/*the top nav styles*/
.navbar {
    display: block;


}
.searchBar {
    display: flex;
    margin: 20px;
    align-items: center;
    font-family: 'Roboto', sans-serif;
}

.searchBar > h1 {
    margin: 0 40px 0 40px;
}

.searchBar > input {
    height: 40px;
    width: 70%;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    border: none;
    background-color: #efefef;
}

.searchBar > button {
    height: 42px;
    width: 117px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.searchBar > p {
    margin: 0 30px 0 30px;
    width: 140px;
}

.essie {
    display: flex;
    justify-content: center;
}
.essie img {
    margin-right: 20px;
    width: 12%;
    height: 46px;
}

/*the top nav styles*/
